In [5]:
import pandas as pd

abs_df = pd.read_csv('ABS/clean_2016_abs.csv')

abs_code_series = abs_df['SA2_MAINCODE_2016'].apply(str)
keep_last_four = lambda x: x[0] + x[-4:]
abs_code_series = abs_code_series.apply(keep_last_four)
abs_df['code'] = abs_code_series

aedc_files = ['AEDC/oneormore.csv', 'AEDC/twoormore.csv', 'AEDC/emotional.csv', 'AEDC/health.csv', 'AEDC/language.csv', 'AEDC/social.csv', 'AEDC/communication.csv']
abs_df.tail()

,SA2_MAINCODE_2016,SA2_name,Index of Relative Socio-economic Disadvantage: Score,Male_Lone_Parent_Employed_Worked_Full_Time,Female_Lone_Parent_Employed_Worked_Full_Time,Total_Lone_Parents_Employed_Worked_Full_Time,Male_Lone_Parent_Total_Employed,Female_Lone_Parent_Total_Employed,Total_Lone_Parents_Total_Employed,Male_Lone_Parent_Total_Unemployed,...,Female_parent_Employed_worked_Part_time_Male_parent_Employed_Total,Female_parent_Employed_worked_Part_time_Total,Female_parent_Employed_away_from_work_Male_parent_Employed_Total,Female_parent_Total_Employed_Male_Parent_Employed_Total,Female_parent_Total_Unemployed_Male_Parent_Employed_Total,Female_parent_Total_Unemployed_Male_Parent_Unemployed_Looking_For_Total,Female_parent_Not_in_the_labour_force_Male_parent_Employed_Total,Female_parent_Not_in_the_labour_force_Male_parent_Not_in_the_labour_force,Female_parent_Total_Total,code
459,217041478,Moyne - West,1020,0,6,5,3,25,27,0,...,193,197,46,284,9,0,113,4,426,21478
460,217041479,Warrnambool - North,986,4,14,15,4,69,77,0,...,427,427,93,606,13,3,273,24,968,21479
461,217041480,Warrnambool - South,986,4,5,9,4,40,41,0,...,220,229,49,318,5,0,140,10,497,21480
462,297979799,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29799
463,299999499,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29499

In [6]:

for file in aedc_files:
    aedc_df = pd.read_csv(file)
    
    merged_df = pd.merge(abs_df, aedc_df, on='code', how='inner')
    
    merged_df.to_csv(file[5:-4] + '_abs_merged.csv')