In [102]:
from sklearn import tree
import pandas as pd
import os

In [103]:
df = pd.read_csv(os.path.join("data", "social_abs_merged.csv"))
sample_df = df.drop(columns = ["name", "SA2_name", "SA2_MAINCODE_2016", "code", "on_track", "vulnerable", 
                              "total", "vulnerable_percentage", "Female_parent_Total_Total"])
sample_df = sample_df.drop(["Unnamed: 0"], axis=1)

In [104]:
sample_df.head()

,Index of Relative Socio-economic Disadvantage_score,Index of Economic Resources_score,Index of Education and Occupation_score,Male_Lone_Parent_Employed_Worked_Full_Time,Female_Lone_Parent_Employed_Worked_Full_Time,Total_Lone_Parents_Employed_Worked_Full_Time,Male_Lone_Parent_Total_Employed,Female_Lone_Parent_Total_Employed,Total_Lone_Parents_Total_Employed,Male_Lone_Parent_Total_Unemployed,...,Female_parent_Employed_worked_Part_time_Male_parent_Employed_Worked_part_time,Female_parent_Employed_worked_Part_time_Male_parent_Employed_Total,Female_parent_Employed_worked_Part_time_Total,Female_parent_Employed_away_from_work_Male_parent_Employed_Total,Female_parent_Total_Employed_Male_Parent_Employed_Total,Female_parent_Total_Unemployed_Male_Parent_Employed_Total,Female_parent_Total_Unemployed_Male_Parent_Unemployed_Looking_For_Total,Female_parent_Not_in_the_labour_force_Male_parent_Employed_Total,Female_parent_Not_in_the_labour_force_Male_parent_Not_in_the_labour_force,at_risk
0,1045,1037,1022.0,3,3,3,3,34,36,0,...,16,308,314,82,469,14,3,184,10,15
1,1035,975,1088.0,5,0,5,5,26,32,0,...,34,200,210,45,305,4,0,120,9,9
2,999,972,1010.0,7,7,16,10,63,71,3,...,45,454,472,122,687,17,0,332,31,38
3,926,904,946.0,7,15,18,6,101,108,0,...,44,421,442,91,608,25,3,307,52,40
4,1066,1048,1065.0,0,0,0,0,10,9,0,...,21,146,148,45,225,8,0,108,4,12

In [105]:
target = sample_df["at_risk"]

In [106]:
data = sample_df.drop("at_risk", axis=1)
feature_names = data.columns
data

,Index of Relative Socio-economic Disadvantage_score,Index of Economic Resources_score,Index of Education and Occupation_score,Male_Lone_Parent_Employed_Worked_Full_Time,Female_Lone_Parent_Employed_Worked_Full_Time,Total_Lone_Parents_Employed_Worked_Full_Time,Male_Lone_Parent_Total_Employed,Female_Lone_Parent_Total_Employed,Total_Lone_Parents_Total_Employed,Male_Lone_Parent_Total_Unemployed,...,Female_parent_Employed_worked_Part_time_Male_parent_Employed_Worked_full_time,Female_parent_Employed_worked_Part_time_Male_parent_Employed_Worked_part_time,Female_parent_Employed_worked_Part_time_Male_parent_Employed_Total,Female_parent_Employed_worked_Part_time_Total,Female_parent_Employed_away_from_work_Male_parent_Employed_Total,Female_parent_Total_Employed_Male_Parent_Employed_Total,Female_parent_Total_Unemployed_Male_Parent_Employed_Total,Female_parent_Total_Unemployed_Male_Parent_Unemployed_Looking_For_Total,Female_parent_Not_in_the_labour_force_Male_parent_Employed_Total,Female_parent_Not_in_the_labour_force_Male_parent_Not_in_the_labour_force
0,1045,1037,1022.0,3,3,3,3,34,36,0,...,281,16,308,314,82,469,14,3,184,10
1,1035,975,1088.0,5,0,5,5,26,32,0,...,167,34,200,210,45,305,4,0,120,9
2,999,972,1010.0,7,7,16,10,63,71,3,...,407,45,454,472,122,687,17,0,332,31
3,926,904,946.0,7,15,18,6,101,108,0,...,372,44,421,442,91,608,25,3,307,52
4,1066,1048,1065.0,0,0,0,0,10,9,0,...,122,21,146,148,45,225,8,0,108,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,995,988,1010.0,0,0,0,0,11,12,0,...,21,5,26,32,7,48,3,0,36,0
423,1008,1037,1003.0,3,3,3,3,13,16,0,...,120,8,135,133,28,208,6,0,108,7
424,1020,1026,1009.0,0,6,5,3,25,27,0,...,169,18,193,197,46,284,9,0,113,4
425,986,976,952.0,4,14,15,4,69,77,0,...,381,34,427,427,93,606,13,3,273,24
426,986,961,981.0,4,5,9,4,40,41,0,...,194,24,220,229,49,318,5,0,140,10

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.20, random_state=42)

In [108]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=200) # parameters of the model - change estimators to see if you can get a better outcome

In [109]:
rf = rf.fit(X_train, y_train)

In [110]:
# These are the predictor values
# y_test - values you already know
predict_values = rf.predict(X_test)
predict_values

array([ 8.42 , 14.   , 27.14 , 10.53 , 89.085, 15.58 , 26.185, 16.875,
       13.87 , 25.44 , 33.205, 31.055,  9.64 ,  7.55 , 27.24 , 25.125,
       53.59 ,  6.59 , 10.21 ,  5.49 , 21.475, 54.245, 13.08 , 26.48 ,
       22.215, 19.075, 23.68 ,  9.765, 14.355, 40.255, 11.285, 24.54 ,
       17.   ,  9.665,  2.725, 25.26 , 18.41 , 10.975, 25.57 , 11.205,
       31.945, 12.26 , 13.585, 31.02 , 14.28 , 14.07 ,  9.18 , 27.76 ,
       10.67 ,  6.325, 10.675,  7.72 , 27.32 , 18.23 , 18.03 , 23.835,
       65.24 , 10.92 , 24.92 , 16.49 , 13.1  , 32.525,  8.115,  6.57 ,
       71.365, 11.95 , 10.025, 24.56 , 23.695, 32.55 , 46.09 , 14.865,
       11.655, 24.47 , 31.61 , 11.735, 13.085, 32.365, 26.545, 17.725,
       18.49 , 33.025,  5.755, 28.65 , 34.415, 29.84 ])

In [111]:
# Mean squared error example for project
# How far from the regression line the data points are
# Root Mean Square Error (RMSE) is the standard deviation of the residuals (prediction errors). 
# Residuals are a measure of how far from the regression line data points are; RMSE is a measure of how spread out these residuals are. 
# In other words, it tells you how concentrated the data is around the line of best fit.
# from sklearn.metrics import mean_squared_error
# mean_squared_error(y_test, predict_values)

from math import sqrt
rms = sqrt(mean_squared_error(y_test, predict_values))
rms
# will be an error of 0.5, the lower the error the better

6.522028459962294

In [112]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5837476370986124,
  'Female_parent_Not_in_the_labour_force_Male_parent_Employed_Total'),
 (0.10250493540300669, 'Total_Lone_Parents_Total_Employed'),
 (0.04559214219388339, 'Female_Lone_Parent_Total'),
 (0.03912485645970315, 'Total_Lone_Parents_Total'),
 (0.0371856627612779, 'Female_Lone_Parent_Total_Employed'),
 (0.02261139720692624,
  'Female_parent_Total_Unemployed_Male_Parent_Employed_Total'),
 (0.015064944667621608, 'Male_Lone_Parent_Total_Employed'),
 (0.012469657824030176,
  'Female_parent_Employed_worked_Full_time_Male_parent_Not_in_the_labour_force'),
 (0.010731369556722384,
  'Female_parent_Total_Employed_Male_Parent_Employed_Total'),
 (0.010640638142350967,
  'Female_parent_Employed_worked_Part_time_Male_parent_Employed_Worked_part_time'),
 (0.010084899248707185,
  'Female_parent_Employed_worked_Part_time_Male_parent_Employed_Total'),
 (0.009651521658265622,
  'Female_parent_Employed_worked_Full_time_Male_parent_Employed_Worked_full_time'),
 (0.009076356631328686,
  'Female_parent_Employed_worked_Full_time_Male_parent_Employed_Worked_part_time'),
 (0.008730455068254197, 'Female_parent_Employed_worked_Full_time_Total'),
 (0.007628327688752255, 'Total_Lone_Parents_Employed_Worked_Full_Time'),
 (0.007119825312926443, 'Female_parent_Employed_worked_Part_time_Total'),
 (0.006886773713172495, 'Male_Lone_Parent_Total'),
 (0.0067917201966989065,
  'Female_parent_Employed_away_from_work_Male_parent_Employed_Total'),
 (0.006386708042669822, 'Index of Education and Occupation_score'),
 (0.006073205994822437, 'Total_Lone_Parents_Total_Unemployed'),
 (0.00596365708523342, 'Index of Economic Resources_score'),
 (0.005732879986750039, 'Female_Lone_Parent_Total_Unemployed'),
 (0.005298227097269256,
  'Female_parent_Not_in_the_labour_force_Male_parent_Not_in_the_labour_force'),
 (0.004419451091979124,
  'Female_parent_Employed_worked_Part_time_Male_parent_Employed_Worked_full_time'),
 (0.00422242014759468, 'Index of Relative Socio-economic Disadvantage_score'),
 (0.004129791701160251, 'Male_Lone_Parent_Employed_Worked_Full_Time'),
 (0.003813176971748214, 'Female_Lone_Parent_Employed_Worked_Full_Time'),
 (0.003691389577093016,
  'Female_parent_Total_Unemployed_Male_Parent_Unemployed_Looking_For_Total'),
 (0.0026146830421388645,
  'Female_parent_Employed_worked_Full_time_Male_parent_Unemployed_looking_for_Total'),
 (0.002011288429300173, 'Male_Lone_Parent_Total_Unemployed')]